body {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 15px;
  background-color: #f5f5f5;

  background-image: url('../img/background.jpg');
  background-attachment: fixed;
  background-origin: center top;
  background-size: auto;
}

hr {
  border-color: #ccc;
}

.canim {
  animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
}

/** == Header == **/
.header-wrapper {
  position: relative;
  z-index: 1;
}

.header-wrapper:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: " ";
  top: 0px;
  left: 0px;
  background-image: url('../img/line-pattern.png');
  background-repeat: repeat-x repeat-y;
  border-bottom: 1px solid #fff;
  z-index: 2;
}

.logo-wrapper {
  position: relative;
  z-index: 10;
  text-align: center;
  font-size: 130px;
}

/** == Navigation == **/
.navbar-wrapper {

}

nav.navbar {
  position: relative;
  background-color: rgb(0, 0, 0);
  margin-bottom: 0px;
  z-index: 10;
}

.navbar-nav {
  width: 100%;
  text-align: center;
  margin: 0;
}

.navbar-default {
  border-radius: 0;
  border: 0;
}

.navbar-default .navbar-nav > li {
  float: none;
  display: inline-block;
  min-width: 10%;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #f8f8f8;
}

/** == Header content == **/
.header-content-wrapper {
  position: relative;
  width: 100%;
  height: 20%;
  z-index: 10;
}

/** == Countdown == **/
.countdown-wrapper {
  position: relative;
  width: 100%;
  padding-top: 57px;
  padding-bottom: 57px;
  z-index: 10;
}

.countdown-wrapper .container {
  padding: 0px;
}

.countdown-wrapper .outer-line {
  width: 32%;
  height: 1px;
  background-color: #000;
  margin-top: 156px;
}

.countdown-wrapper .outer-line[data-position="left"] {
  float: left;
}

.countdown-wrapper .outer-line[data-position="right"] {
  float: right;
}

.circle-wrapper {
  margin: 0 auto;
  width: 312px;
  height: 312px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
}

.circle-container {
  text-align: center;
  color: #fff;
  padding: 15%;
}

.circle-container .upper-text, .circle-container .bottom-text {
  font-size: 27px;
}

.circle-container .upper-text {
  margin-bottom: 10px;
}

.circle-container .bottom-text {
  margin-top: 10px;
}

.circle-container .special-content {
  font-size: 150px;
}

.countdown-container {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-size: 43px;
}

.countdown-unit[data-type="hour"] {
  margin-left: 45px;
  margin-right: 45px;
}

/** == Page == **/
.page-wrapper {
  width: 100%;
  height: auto;
}

.page-wrapper.home {
  background-color: #f8f8f8;
}

.page-wrapper.board {
  background-color: transparent !important;
}

.page-wrapper.default {
  
}

h2.page-headline {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.content-wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 1px 1px 1px 0px #ccc;
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 20px;
}

/** == Article List == **/
.article-list-wrapper {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.single-article {
  width: 100%;
  margin: 0 auto;
  box-shadow: 1px 1px 1px 0px #ccc;
  border-radius: 3px;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.single-article h3.article-headline {
  padding-top: 0px;
  margin-top: 0px;
  font-weight: bold;
  font-size: 22px;
}

/** == Board == **/
.boardlist-wrapper {
  width: 100%;
}

.board-list {
  
}

.board {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.board .board-container {
  box-shadow: 1px 1px 1px 0px #ccc;
  border-radius: 3px;
  background-color: #f2f2f2;
  padding: 15px;
}

.board .board-container .board-head {

}

.board .board-container .board-head .board-title {
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 17px;
}

.board .board-container .board-head .board-description {
  font-size: 13px;
}

.board .board-container .board-meta {
  font-size: 13px;
}

.board .board-container .board-meta .last-post {

}

.board .board-container .board-meta .last-post .last-post-title {
  
}

.board .board-container .board-meta .last-post .last-post-meta {
  
}

.board .board-container .board-meta .last-post .last-post-meta .author {
  
}

.board .board-container .board-meta .last-post .last-post-meta .timestamp {
  
}

.subboard-list {
  margin-top: 10px;
}

.subboard {
  width: 100%;
  margin-bottom: 1px;
}

.subboard .board-container {
  box-shadow: 0 0 0 0 transparent !important;
  border-bottom: 1px solid #f2f2f2;
  padding: 11px;
}

.subboard[data-depth="1"] .board-container {
  background-color: #fff;
}

.subboard[data-depth="2"] .board-container {
  background-color: #f2f2f2;
}

.subboard[data-depth="3"] .board-container {
  background-color: #fff;
}


.board-wrapper {
  width: 100%;
  margin: 0 auto;
}

.board-wrapper > .board-head {
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
}

.board-wrapper > .board-head .board-head-container {
  box-shadow: 1px 1px 1px 0px #ccc;
  border-radius: 3px;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
}

.board-wrapper > .board-head .board-head-container .board-meta {
  
}

.board-wrapper > .board-head .board-head-container .board-meta h2.board-title {
  margin: 0;
}

.board-wrapper > .board-head .board-head-container .board-meta .board-description {
  
}

.board-wrapper > .board-head .board-head-container .board-buttons {

}

.board-wrapper > .board-head .board-head-container .board-buttons .board-search {

}

.board-wrapper > .board-head .board-head-container .board-buttons .board-search .board-search-form {
  margin-top: 3px;
  margin-bottom: 3px;
}


.board-wrapper .subboard-list {
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}

.board-wrapper .subboard-list h3.board-headline {

}

.board-wrapper .subboard-list .board[data-type="board"] {
  
}

.board-wrapper .subboard-list .board[data-type="category"] {

}

.board-wrapper .subboard-list .board .board-container {

}

.board-wrapper .subboard-list .board-container .board-head {

}

.board-wrapper .subboard-list .board-container .board-meta {

}

.board-wrapper .thread-list {

}

.board-wrapper .thread-list .thread {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.board-wrapper .thread-list .thread .thread-container {
  box-shadow: 1px 1px 1px 0px #ccc;
  border-radius: 3px;
  background-color: #fff;
  padding: 15px;
}

.board-wrapper .thread-list .thread .thread-container .thread-head {

}

.board-wrapper .thread-list .thread .thread-container .thread-head h4.thread-topic {
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 17px;
}

.board-wrapper .thread-list .thread .thread-container .thread-head .thread-meta {
  font-size: 13px;
}

.board-wrapper .thread-list .thread .thread-container .thread-meta {
  font-size: 13px;
}

.board-wrapper .thread-list .thread .thread-container .thread-meta .last-post {

}

.board-wrapper .thread-list .thread .thread-container .thread-meta .last-post .last-post-title {

}

.board-wrapper .thread-list .thread .thread-container .thread-meta .last-post .last-post-meta {

}

.board-wrapper .thread-list .thread .thread-container .thread-meta .last-post .last-post-meta .author {

}

.board-wrapper .thread-list .thread .thread-container .thread-meta .last-post .last-post-meta .timestamp {

}

/** == Buttons == **/
.btn.btn-board {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #f2f2f2;
  border-radius: 0px;
  border: 0;
  font-size: 15px;
}

a.btn-board {
  color: #000;
}

/** == Footer == **/
.footer-wrapper {
  position: relative;
  width: 100%;
  min-height: 190px;
  margin-top: 140px;
  background-color: #303030;
  text-align: center;
  color: #fff;
  font-size: 16px;
  z-index: 2;
}

.footer-wrapper:after {
  position: absolute;
  height: 30px;
  width: 100%;
  left: 0;
  top: -30px;
  content: " ";
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 -9px 12px -9px #000;
  z-index: 1;
}

.footer-wrapper:before {
  position: absolute;
  left: 50%;
  top: -50px;
  margin-left: -50px;
  height: 100px;
  width: 100px;
  background-color: #303030;
  content: " ";
  transform: rotate(45deg);
  z-index: 3;
}

.footer-wrapper .copyright {
  display: block;
}

.footer-container {
  width: 60%;
  margin: 0 auto;
}

.footer-menu-box {
  position: relative;
  margin-top: 20px;
  z-index: 4;
}

.footer-menu-box-headline {
  font-size: 22px;
  margin-top: 0px;
}

.footer-menu-box-list {

}

.footer-logo-box {
  position: relative;
  text-shadow: 0 0 4px #000;
  z-index: 4;
}

.footer-logo-box:before {
  position: absolute;
  left: 50%;
  top: -14px;
  margin-left: -49px;
  height: 100px;
  width: 100px;
  background-color: #838383;
  content: " ";
  z-index: 1;
  transform: rotate(45deg);
}

.footer-logo-box .footer-logo {
  position: relative;
  font-size: 50px;
  z-index: 2;
}