html, body {
    height: 100%;
}

body {
    position: relative;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

/** == NAVIGATION == **/

/** == HEADER == **/
.header-wrapper {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 99;
}

/** == TITLE == **/
.title-wrapper {
    positon: relative;
    margin: 0 auto;
    min-width: 20%;
    max-width: 30%;
    margin-top: 45vh;
}

.upper-title-line, .bottom-title-line {
    width: 100%;
    border-bottom: 1px solid #000;
}

.upper-title-line {
    margin-bottom: 8px;
}

.bottom-title-line {
    margin-top: 8px;
}

h1.title {
    margin: 0;
    text-align: center;
    font-weight: lighter;
    font-size: 48px;
}

/** == SECTION == **/
.section {
    position: relative;
    z-index: 1;
    background-position: center center;
}

.section:nth-of-type(even) {
    background-color: #f3f3f3;
}

.section-clear, .section {
    background-attachment: fixed;
}

.section-full {
    height: 100vh;
}

.section-half {
    height: 50vh;
}

.section-3quarter {
    height: 75vh;
}

.section-quarter {
    height: 25vh;
}

.section-centered {
    margin-top: 25%;
}

.section-color-white {
    background-color: #fafafa;
}

.section-background-1 {
    background-image: url('../img/background_1.jpg');
}

.section-background-2 {
    background-image: url('../img/background_2.jpg');
}

.section-background-3 {
    background-image: url('../img/background_3.jpg');
}