{include file="__dochead.tpl"}
{include file="__head.tpl"}

{include file="__header.tpl"}

<!-- Site preloader -->
<section id="preloader">
    <div class="site-spinner"></div>
</section>
<!-- End Site preloader -->

<div class="container">
    Das ist eine Testseite.
</div>

{include file="__footer.tpl"}
</body>
</html>